body {
    background-color: rgb(0, 0, 0);
}

a {
    background-color: rgb(235, 87, 87);
    color: white;
    /* padding: 1em 1.5em; */
    text-decoration: none;
    text-transform: uppercase;
}